<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="highlight-card">
    <img
      alt="Angular Logo"
      src="assets/img/AOM.png"
      onClick="location.href='https://church.mt'"
    />
  </div>

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container">
    <div class="card">
      <img
        alt="Angular Logo"
        src="assets/img/discern.png"
        onClick="location.href='http://discern.org.mt'"
      />
    </div>

    <div class="card">
      <img
        alt="Angular Logo"
        src="assets/img/jp.png"
        onClick="location.href='https://jp.church.mt'"
      />
    </div>

    <div class="card">
      <img
        alt="Angular Logo"
        src="assets/img/laikos.png"
        onClick="location.href='http://laikos.org'"
      />
    </div>
    <div class="card">
      <img
        alt="Angular Logo"
        src="assets/img/mcyn.png"
        onClick="location.href='https://mcyn.org'"
      />
    </div>
    <div class="card">
      <img
        alt="Angular Logo"
        src="assets/img/safeguarding.png"
        onClick="location.href='https://safeguarding.mt'"
      />
    </div>
    <div class="card">
      <img alt="Angular Logo" src="assets/img/sds.png" />
    </div>
  </div>
</div>
